:root{
  background-color: #DCDCDC;
}
.app {
  text-align: center;
  background-color: #FFFFFF;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.profile-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}
