:root{
  background-color: #DCDCDC;
}

.app {
  text-align: center;
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  width: 90%;

  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 150px;
  grid-template-areas:
      "i p p p o o"
      "s c c c c c"
      "s c c c c c"
      "f c c c c c"
      "f c c c c c"
      "e e e e e e";

}

.profile-header, .skill-list,
.filter-list, .filter-canvas,
.image-canvas, .contact-info, .footer{
  border: 1px solid;

}


.contact-info{
  grid-area: o;

}
.contact-list{
  margin-top:20px;
  margin-left:20px;
  text-align: left;
  list-style-type: none;
}

.image-canvas{
  grid-area: i;
}

.profile-header {
  grid-area: p;
  border-color: red;

}
.footer{
  grid-area: e;
}
.skill-list{
  grid-area: s;
  text-align: left;
}
.skill-list h2{
  margin: 3px;
}

.skill-list, .language-list, .tool-list{
  padding-left: 5px;
}
.filter-list{
  grid-area: f;
}
.filter-list li{
   list-style-type: none;
   border: 1px solid;
   height: 16.20%;
   font-size: 1.5em;
   text-align: left;
}

.filter-canvas{
  grid-area: c;
}

.profile-header {
  background-color: #222;
  height: 125px auto;

  color: white;
}

.pdf-resume{
  width: 100%;
}
.react-pdf__Page__canvas{
  width: 92% !important;
  margin: 3%;
  border: 1px solid;
  align-content: center;
}
.react-pdf__Page__textContent{
  width: inherit !important;
}

.profile-header h1{
  font-size: 2.75em;
  text-align: center;
  margin: auto;
  margin-top:30px;
}
