:root{
  background-color: #DCDCDC;

}
.app {
  text-align: center;
  background-color: #FFFFFF;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
}

.profile-header {
  background-color: #222;
  height: 125px;
  padding: 20px;
  color: white;
}
.profile-header h1{
  font-size: 2.5em;
}
